body{
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#cart{
    background-color: rgb(241, 158, 2);
    border: 40px solid  rgb(241,158,2);
    margin: -10px;
}

#shoppingCart{
    width: 75px;
}

#title{
    display: inline;
    color: rgb(161, 105, 1);
    font-size: 40px;
    position: relative;
    left: 17px;
    bottom: 15px;
    font-weight: 900;
}

.product{
    font-size: 30px;
}

.about{
    color: lightgrey;
    font-size: 30px;
}

.price{
    float: right;
    position: relative;
    bottom: 75px;
    font-weight: 100;
}

#itemOne, #itemTwo, #itemThree, #itemFour, #itemFive, #itemSix{
    border-bottom: 1px solid lightgray;
    position: relative;
    top: 60px;
    margin: 100px;
    padding: 100px;
}

#itemOne{
    border-top: 1px solid lightgray;
}

#itemTwo{
    position: relative;
    top: -30px;
}

#itemThree{
    position: relative;
    top: -80px;
}

#itemFour{
    position: relative;
    top: -150px;
}

#itemFive{
    position: relative;
    top: -200px;
}

#itemSix{
    position: relative;
    top: -250px;
}